//COLOR
$color-dark-type:#5b5366;
$color-elektric-type:#fbd200;
$color-fairy-type: #fb8aec;
$color-fighting-type:#e12c6a;
$color-ground-type:#e97333;
$color-ice-type:#4bd2c1;
$color-poison-type:#b667cf;
$color-psychic-type:#ff6676;
$color-rock-type:#c9b787;
$color-steel-type:#598fa3;
$color-water-type:#3393dd;
$color-normal-type:#d3d4d3;
$color-grass-type:#63bc5d;
$color-fire-type:#f9a555;
$color-flying-type:#a2bcea;
$color-dragon-type:#176cc5;
$color-bug-type:#93bb3a;
$color-ghost-type:#606fba;

$color-ball-red:#ee1515;
$color-ball-black:#222224;
$color-ball-white:#f0f0f0;


$color-black: #000;
$color-white: #fff;

$color-gray-dark: #777;
$color-gray-dark-2: #999;
$color-gray-dark-3: #333;


//FONT
$default-font-size:1.6rem;

//GRID
$gutter-vertical: 8rem;
$grid-width: 114rem;
$gutter-horizantal: 6rem;
